.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App {
  overflow: hidden;
}

.notes-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vh;
}

.top-sites-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100vw;
}
